@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

$avatar-url: "http://cur.glitter-graphics.net/pub/3580/3580617sz0ygexqpz.gif"; 
$other-message: white;
$text-color: white;
$button: #ff7871;
$text-highlight: rgba(#f43b47,0.4);
$purple: #453a94;
$user-message: $purple;

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  font-family: "Inconsolata", monospace;
  background: no-repeat linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  color: $text-color;
}

h1 {
  text-shadow: 2px 1px 0px $text-highlight;
}

.chat-window {
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  border: 4px solid $purple;
  border-radius: 10px;
}

.chat-header {
  height: 5vh;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid $purple;
  display: flex;
  align-items: center;

  .chat-button {
    margin: 9px 0 9px 14px;
    width: 15px;
    height: 15px;
    background-color: $button;
    border-radius: 100%;
    box-shadow: 4px 4px #db0035;
  }
}

.chat-messages {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  background: rgba(255, 255, 255, 0.2);
}

.input-container {
  display: flex;
  flex: none;
  width: 100%;
  bottom: 0;
  height: 14vh;
  max-height: 100px;
  justify-content: stretch;
  background: rgba(255, 255, 255, 0.5);
  border-top: 4px solid $purple;
  border-radius: 0 0 12px 12px;
}

.message-input {
  border: none;
  flex: auto;
  padding: 1.5rem;
  background: transparent;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 1rem;
}

.message-submit {
  margin: 2vh;
  background: $button;
  box-shadow: 4px 4px #db0035;
  width: 10vh;
  padding: 1.5rem;
  border-radius: 5px;
  border: none;
  position: relative;

  &:after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border: 5px solid white;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
  }
}